.create-task{
    padding: 20px;
    max-width: 600px;
    margin: auto;
}
.create-task h2{
    margin-bottom: 20px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    margin: 10px 0 5px;
    font-weight: 600;
}

form input,
form textarea,
form select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
}

form textarea{
    resize: vertical;
    min-height: 80px;
}

button{
    margin-top: 20px;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}